<body>
    <form method="post"action="/verifyOTP">
        <input type="text"name="otp">
        <input type="text"name="name">
        <input type="text"name="password">
        <button type="submit">
            Submit me 
        </button>
    </form>
</body>
</html>